@import url(//db.onlinewebfonts.com/c/05078759185c986d15c17e7ee8deff43?family=DINPro-Bold);

@font-face {font-family: "DINPro-Bold";
    src: url("//db.onlinewebfonts.com/t/05078759185c986d15c17e7ee8deff43.eot");
    src: url("//db.onlinewebfonts.com/t/05078759185c986d15c17e7ee8deff43.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/05078759185c986d15c17e7ee8deff43.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/05078759185c986d15c17e7ee8deff43.woff") format("woff"), url("//db.onlinewebfonts.com/t/05078759185c986d15c17e7ee8deff43.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/05078759185c986d15c17e7ee8deff43.svg#DINPro-Bold") format("svg"); }
body {
    margin:0;
}

/* Text Styles */
h1 {
    font-family: 'DINPro-Bold';
    font-size: 48pt !important;
}
.display-3 {
    color: white;
}
.lead {
    font-size: 24pt;
    color: white;
    max-width: 1000px;
}
.feature-header {
    padding-top: 200px;
}
h2 {
    font-family: 'DINPro-Bold';
    font-size: 36pt;
    padding: 100px;
}

h3 {
    font-family: 'DINPro-Bold';
}

p {
    font-family: 'Lato';
    font-size: 18pt;
}
li{
    font-family: 'Lato';
}

.center-content {
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

/* Containers */
.jumbotron {
    height: 100vh;
}
.jumbotron .container {
    display: flex;
    justify-content: center;
    padding: 8px 0px 8px 0px;
    max-width: 1800px;
    background-color: #3B428E;
    border-radius: 20px 20px 20px 20px;
    padding: 24px;
}
.container-fluid {
    margin: auto;
}
.row {
    padding-bottom: 100px;
}
.col {
    max-width: 900px !important;
}

/* Buttons */
button {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFB225;
    border: none;
    font-family: 'DINPro';
    font-size: 18pt;
}
.store-button {
    width: 300px;
    margin-top: -150px;
}

/* Nav */
.bg-dark {
    background-color: #3B428E !important;
}
.nav-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.navbar-brand {
    margin-right: 180px;
}
.nav-logo {
    width: 60%;
}
#navbarSupportedContent {
    margin-left:180px;
}
.nav-item {
    padding-right: 24px;
}

/* Images */
img {
    max-width: 400px;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: white;
    color: black;
}
.footer-copyright {
    margin-right: 200px;
}
.footer-logo {
    width: 100px;
}
footer ul {
    list-style: none;
    text-align: center;
}

footer:before{
    content:"";
    display:block;
    width: 90%;
    border-top: 1px solid gray;
    align-items: flex-start;
    margin-top: 40px;
}
footer li {
    display: inline;
    padding: 10px;
    vertical-align: middle;
}

#copyright {
    width: 12px;
    vertical-align: center;
    display: inline;
}
